.grid-33
	.app--section
		ul.app--message--list(style="padding-bottom: 195px;")
			each index in msgList
				li
					h3 Conversation with&nbsp;
						a #{index.senderName}
					ul.app--message--conversation
						li.app--message
							div.app--avatar(style="background-image: url(" + index.senderProfileImageURL + ")")
								img(src=index.senderProfileImageURL)
							p.app--message--text #{index.messageBody}
							p.app--message--timestamp #{index.date}