doctype html
html(lang="en")
	include ./partials/_head.pug
	body
		include ./partials/_header.pug
		.app--tweet
			form(method="post", action="/")
				.circle--fluid
					.circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
						div(class="app--avatar" style="background-image: url(" + accountList.profileImgURL + ");height: 50px;width: 50px;")
							img(src=accountList.profileImgURL)
						textarea(class="circle--textarea--input" name="tweetInput" placeholder="What's happening?" id="tweet-textarea")
						strong#tweet-char.app--tweet--char 140
					.circle--fluid--cell.align-bottom
						button.button-primary(type="submit") Tweet
		.bounds.app--body
			.app--section--header
				.grid-33
					.app--section--heading
						h2 Timeline
				.grid-33
					.app--section--heading
						strong #{accountList.friendsCount}
						h2 Following
				.grid-33
					.app--section--heading
						h2 Direct Messages
			include ./partials/_timeline.pug
			include ./partials/_following.pug
			include ./partials/_directmessages.pug
















